*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.logo h1{
    font-family: 'Julius Sans One', sans-serif;
    position: absolute;
    top: 3vh;
    font-size: 7vh;
    
}
.logoz{
    font-family: 'Allura', cursive;
    font-size: 4vh;
    position: absolute;
    top:10vh
}
.mood{
    color:orange
}
.navbar{
    display:flex;
}
.navigate ul li{
    display: inline-block;
    list-style: none;
    z-index: -100;

}
.navigate ul li a{
    color: black;
    padding:5vh;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
}
.navigate ul li :hover{
    background-color: orange;
    transition: ease-in;
    padding-bottom: 1vh;
    border-radius: 3px;
    padding-top: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
}
 .body img{
    position: absolute;
    left: 55vh;
    bottom: 10vh;
 }
.Menu{
    margin-top: 40%;
    font-family: 'Julius Sans One', sans-serif;
    color: orange;
   
}
.menustuff{
    display: flex;
}
.card{
    margin-left: 8vh;
}

.orders h2{
    font-family: 'Julius Sans One', sans-serif;
    color: orange;
    padding-left: 5vh;

}
form{
    width: 100vh;
    padding-left: 5vh;
    
}
.select {
    width:40vh
}
.orders{
    background-image: url("../images/chef.jpg");
    background-repeat: no-repeat;
    background-position: 100vh;
    
    
}
.mybtn{
    margin-left: 10vh;
}
.testimonials h2{
    font-family: 'Julius Sans One', sans-serif;
    color: orange;
    padding-left: 5vh;
}
.carousel-item{
    width:40vh;
    margin-left: 5vh;
}
.testimonialstuff{
    display:flex;
    background-color: rgb(255,204,0);
}
.testimonialtxt h3{
    position: absolute;
    left: 10vh
}
  